name: On tag generated

on:
  push:
    tags:
      - '*.*.*'

jobs:
  myJob:
    runs-on: ubuntu-latest
    steps:
      # Whatever you want to do on tag generated like:
      - name: Check out code
        uses: actions/checkout@master
